html,body { 
   
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;

}

* { 
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(30, 3, 54);
    font-size: 16px;
}

#text { 

    width: 100%;
    height: 100%;
    background-color: #3e3e3e;
    color: #eee;
    padding: 5px;
}
#text:focus { 

    outline: none;
}